  //video styling 
  .portfolio{
      display: flex;
      flex-wrap:wrap;
      width: 100%;
      min-height: 100vh;

      .container {

        .project{
            margin-bottom: 20px;
  
          .row{
              justify-content: center;
              align-items: center;

              .text-box{

                @media (min-width:1200px) {
                    margin:0px 0px 250px 50px;
                   
                  } 
              }
  
              .headLine{
                  font-weight: 600;
                  padding: 20px 0px 15px 0px;
                  font-family: 'Poppins', sans-serif;
                  margin-left: 18px;

                  @media (min-width:1200px) {
                    padding-top: 250px;
                    font-size: 50px;
                  } 
                
                  }
  
              .text{
                  font-size: 15px;
                  font-family: 'Poppins', sans-serif;
                  margin-left: 18px;
                  margin-bottom: 40px;

                  @media (min-width:1200px) {
                    padding-top: 20px;
                    font-size: 17px;
                  } 
                
                  
              }

              .icons{
            
                  a{
                      color: black;
                      margin-right:10px;
                      margin-left: 20px;
                  }

                  .fa-laptop{
                    color: #6abd87;
                    cursor: pointer;

                  }

                  .fa-code {
                      color: #5882d7;
                      cursor: pointer;
                  }

                  .fa-paint-brush {
                    cursor: pointer;
                    color: #dd89c4;
                  }

                  @media (min-width:1200px) {
                    padding-top: 20px;
                  }

                  
              }
  
              .box{
                  position: relative;
                  width: 100%; //Desktop 50%
                  height: 50vh;
                  filter: grayscale(1);
                  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
                  background-image: linear-gradient(0deg, #f6f7f8, #f6f7f8);
                  border-radius: 20px;

                  @media (min-width:1200px) {
                    width: 50%;
                  } 


                  video{
                      position: absolute;
                      top:0;
                      left: 0;
                      width: 100%;
                      height: 100%;
                      object-fit: cover;
                      border-radius: 20px;
                  }

                  .video{
                    position: absolute;
                    top:0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 20px;
                }
              }
        
              .box:hover{
                filter: grayscale(0);
              }
  
  
    
          }
    
  
        }
      }

 

      
  }
  
  // Line under Portfolio
  .portfolio .title:after {
    content: "";
    position: absolute;
    width: 90px;
    height: 5px;
    border-radius: 3px;
    background-color:  rgb(80, 102, 80);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    
  }
  